/ven/*
/_output/
/_plots/
Checkerboard.png
Checkerboard_Full.png
Checkerboard_LC.png
Checkerboard_NoChar.png
MyCharStream_LinearPropertyChange.py
Energy2.png
LimitCurve.csv
EnergyVals.csv
output.csv
pyclaw.log
